*{box-sizing:border-box;}

body{
    font-family: "Bitter", serif;
    margin: 0;
    background-color:#f5f5f5;
}


header{
    
    align-items: center; /* vertically aligns logo and text */

    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

}
   

header span{
    color:#230b70;
    font-size: 1.6rem;
    font-weight: 700;    
}

header p{
    color:#725A7A;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 0.5;
    text-align: center;

}

/** small screen navigation **/
@media only screen and (max-width:600px){
    nav{
    background-color: #725A7A;
    }

    nav ul{
    margin:0;
    padding:0;
    }

    nav a{
        display: block;
        text-align: center;
        padding:0.8rem;
        font-weight: 600;
        list-style-type: none;
        text-decoration: none;
        font-size: 1rem;
        color:#f5f5f5;
        border-bottom: solid 2px #230b70;
        text-transform: uppercase;
    }

    nav .active a{
        background-color: #725A7A;
        color:#f5f5f5;
        background-image: linear-gradient(to bottom, #230b70, black)
    }
}


/** large screen navigation **/
@media only screen and (min-width:601px){
    nav{
    background-color: #725A7A;
}

nav ul{
    margin:0;
    list-style-type: none;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 30.5%;
    
}
/** padding-left: aligns the nav links in the middle of the page **/
/** display flex: aligns the nav links next to eachother **/

nav a{
    text-align:center;
    font-weight: 600;
    padding: 1rem 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color:#f5f5f5
}
/** padding: aligns the nav links next to eachother rather than underneath eachother **/
/** display: makes the nav bar a thick box rather than a thin line **/
/** text-decoration: removes the lines beneath the links **/

nav .active a{
    background-color: #725A7A;
    color:#f5f5f5;
    background-image: linear-gradient(to bottom, rgb(191, 188, 188), #725A7A)
}

nav a:hover{
    color: #251813;
}

nav a:visited{
    color: #230b70;
}

}

h1{
    color: #725A7A;
    text-align: center;
    margin-bottom: -0.9%;
}

h2{
    text-align: center;
    color: #725A7A;
    margin-bottom: -0.8%;
}

p{ 
    margin: 0 auto;         
    padding: 1rem;
    text-align: justify;
    max-width: 98%;
}

main ol{
    margin: 0;
    list-style-position: inside;
    padding-left: 18%;
    list-style-type: upper-roman;
    text-align: center;
}

main li{
    margin-bottom: 1%;
    margin-top: -0.6%
}
/* puts space between bold section and term */

main dt{
    color: #230b70;
}

main dd{
    margin-top: 0.3%;
    margin-bottom: 2%;
}
/* puts space between term and definition*/

.heroimage{
    width:100%;
    height:auto;
}

address{
margin: 0;
display: flex; /* Use flexbox layout */
justify-content: center; /* Center the items horizontally */
list-style: none; /* Remove default list styling */
padding: 0; /* Remove default padding */
}
/* formats the contact us section of the index page so it is in the middle of the page*/

address ul{
list-style-type: circle;
}
/* turns the bullet points of the contact us section of the index page into circles*/

address a{
    color:rgb(74, 111, 210);
}
/* turns the links of the contact us section of the index page blue*/

.indexborder{
color:white;
font-style: normal;
background-color: #725A7A;
padding: 2rem;
border-right: 15px;
border-radius: 10px;
border: 5px solid #230b70;
width: 490px;
}
/* formats the border in the contact us section in the index page*/

figure.exampletoy{
    margin-right:1.1%;
    float: right;
}
/* placement of the example toy image in the About Us Page*/

figure.exampletoy img{
    height:auto;
}
/* formats size of the example toy image in the About Us Page*/

figure.exampletoy figcaption{
    text-align: center; 
}
/* formats figcaption of the example toy image in the About Us Page*/

div.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    column-gap: 5%;
}
/* formats images in the toys section as a 4x4 list*/

div.gallery figure{
    margin: 2%;
    text-align: center;
    padding-top: 2%;
}
/* formats images in the toys section */

div.gallery figcaption{
    font-size: 20px;
    text-align: center;
    border: 3px solid black;  
    margin-bottom: 7%;
    padding: 4%;
    
}
/* formats creatures names in the toys section */

.dropshadow:hover{
    box-shadow: 0px 0px 20px #725A7A;
}
/* formats the shadow in the toys section */


div.shoppingformat{
    text-align:center;     
    width: 200px; 
    border: 3px solid #725A7A;  
    height: auto; /* important */
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    margin-top: 10%;
}
/* formats pricing + description in the toys section */

.formFormatting label{
    margin: 0.5rem;
    display: block;
}

.paragraphSpacing span{
    display:block;
    line-height:0.7;
    margin-top:12px;
}

/* formats "cost" and "time required" sections of customtoys beneath eachother */

.descriptionformatting{
    display: block;
    font-size: 20px;
    line-height: 1.4;
    padding-left: 23px;
    padding-top: 10px;
}

.formFormatting select{
    display: block;
}

.formFormatting [type=text]{
    display: block;
}

.formFormatting [type=tel]{
    display: block;
}

.formFormatting textarea{
    display:block;
}

/* formats each <label> as a vertical list in the Custom Toys Page*/ 
/*I didn't format the [type="radio"] section because trying to put display:block on it didn't work out*/
/* Instead, I formatted the <span> and <p> section of the "Our Requirements" section */

.formFormatting legend{
    font-size: 22px;
    color: #725A7A;
    font-weight: bold;
}
/* formats the title of each form in the  Custom Toys Page*/

.formFormatting fieldset{
    border-color:#26116b;
    border-radius: 25px;
    margin: 15px;
    border-width: 3px;
}
/* formats how the each border of each section looks in the Customs Toy Page*/

.formFormatting span{
    font-size:18px;
}
/* formats how the "Shopping" Section looks in the Custom Toys Page*/

.formFormatting textarea{
    width: 40%;
    height: 60px;
    color: black;
    background-color: rgb(192, 188, 188);
}
/* formats how the textbox looks in the Custom Toys Page*/

.titlefontsize{
    font-size: 18px;
    font-weight: bold;
}
/* formats the font size of "Our Requirements" section in the Custom Toys Page*/

.linebreakup{
    border-color:#26116b;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* formats how the linebreakup of "Our Requirements" section in the Custom Toys Page and Creatures Page*/

 .formFormatting select{
    background-color: #725A7A;
    border: 3px dashed white ;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 18px; 
 }
 /* formats how the "Type of Toy" section looks in the Custom Toys Page*/

 .formFormatting [type="text"],  [type="tel"]{
    font-size: 18px;
    margin-left: 0px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    padding: 0.4rem;
    width: 13%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(192, 188, 188);
    color: black;
 }
 /* formats how the "Give us Your Contact Info" section looks in the Custom Toys Page*/

 .submitButton{
    background-color: #725A7A;
    border: 3px dashed white ;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin: 1%;
}
/* formats how the Submit Button looks in the Custom Toys Page*/

.creaturespageformatting legend{
    font-size: 22px;
    color: #725A7A;
    font-weight: bold;
}
/* formats how the each regions title looks in the Creatures Page*/

.creaturespageformatting h3{
    font-size: 20px;
    color: #725A7A;
    font-weight: bold;
    margin-left: 15px;
    
}
/* formats how the each creatures name looks in the Creatures Page*/

.creaturespageformatting h4{
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 25px;
    
}
/* formats how the each creatures myths/cultural significance/description looks in the Creatures Page*/

.creaturespageformatting p{
    font-size: 18px;
    line-height: 1.4;
    padding-top: 0px;
    
}
/* formats how the each paragraph looks in the Creatures Page*/

.creaturespageformatting fieldset{
    border-color:#26116b;
    border-radius: 25px;
    margin: 15px;
    border-width: 3px;
}
/* formats how the each border of each section looks in the Creatures Page*/

.Thankyoupagemanagement h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #725A7A;
    margin-top: 100px;
    margin-bottom: 5px;
    }
/* formats how the the title of Thank You Page looks*/

.Thankyoupagemanagement p{
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/* formats how the the paragraph of Thank You Page looks*/

.sparkles1 {
    height: 450px;
    width: 200px;
    float: left;
}
/* formats how the the decorations of Thank You Page looks*/

.sparkles2 {
    height: 450px;
    width: 200px;
    float: right;
}
/* formats how the the decorations of Thank You Page looks*/

footer{
margin: 0;
display: flex; /* Use flexbox layout */
justify-content: center; /* Center the items horizontally */
list-style: none; /* Remove default list styling */
padding: 0; /* Remove default padding */
clear:both; /* keeps footer below image in About Us page */
}

header, nav, main, footer{
    max-width:88rem;
    margin: 0 auto;
}

